label#thumbnail{
    margin-bottom: 22px;
    border : 1px dashed;
    cursor: pointer;
    height : 170px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

label#thumbnail input{
    display : none;
}

label#thumbnail.has-thumbnail{
    border : 0;
    
}

label#thumbnail.has-thumbnail img{
    display : none;
    
}